html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
  }
  
@-moz-document url-prefix() {
body {
    font-weight: lighter !important;
}
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size:62.5%;
}

a{
    color: inherit;
    text-decoration: none;
}

.app-container{
    /*display:grid;
    transition: grid-template-columns .2s ease;
    grid-template-columns: 5% 95%;*/
    display:flex;
    width:100%;
    height:100%;
}

body.collapsed-sidebar .sidebar-container{
    width:5%;
}

body.collapsed-sidebar .dashboard-container{
    width:95%;
}

body.collapsed-sidebar .sidebar-container .footer{
    opacity:0;
}

body.collapsed-sidebar .sidebar-container li{
    text-align:center;
}

body.collapsed-sidebar .sidebar-container li span{
    display:none;
}

.single-card{
    padding: 0 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius:10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}

.single-card-task{
    padding: 0 0 0 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius:10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}
.single-card-task.active{
    background-color:#f5f7fd;
}

::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dfe4f8;
  }
 ::-webkit-scrollbar-thumb:window-inactive {
    background: #dfe4f8;
  }


.cards-container{
    border-top: 6px solid #7f9aff;
    background-color: #fff;
    margin-top: 15px;
    padding: 25px;
    border-radius:0 0 10px 10px;
    box-shadow: 1px 1px 10px #d2d2d2;
    min-height: 200px;
    position: relative;
}

.loading-spinner{
    width: 55px;
    position: absolute;
    top: 0;bottom: 0;right: 0;left:0;
    margin: auto;
}

.see-all{
    margin-top: 15px;
    margin-bottom: -15px;
    font-weight: 500;
    color: #7f9aff;
    cursor: pointer;
}
.arrow{
        position: relative;
        top: 6px;
        padding: 5px;
    }

.arrow, .arrow-hours svg{
    font-size: 2em;
}
.see-hours{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #7f9aff;
}
.arrow-hours {
    position: relative;
    top: 1px;
    padding: 5px;
}

.nodisplay{
    display: none;
}

body .complete-todo{
    display:none;
    opacity: 0;
}
body.todo-open .complete-todo{
    display:block;
    animation: opacityAnimation .4s ease, slideFromTopAnimation .4s ease;
    animation-fill-mode: forwards;
}
body.todo-open #overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,.4);
    z-index: 11;
    opacity:0;
    animation: opacityAnimation .6s ease;
    animation-fill-mode: forwards;
}
@keyframes opacityAnimation{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slideFromTopAnimation{
    0%{transform: translateY(-200%);}
    100%{transform: translateY(-50%);}
}