html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
  }
  
@-moz-document url-prefix() {
body {
    font-weight: lighter !important;
}
}

body{
    margin:0;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
}

a{
    color: inherit;
    text-decoration: none;
}

textarea{
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus, button:focus {
    outline: none !important;
}

.app-container{
    /*display:grid;
    transition: grid-template-columns .2s ease;
    grid-template-columns: 5% 95%;*/
    display:flex;
    width:100%;
    height:100%;
}

body.collapsed-sidebar .sidebar-container{
    width:5%;
}

body.collapsed-sidebar .dashboard-container{
    width:95%;
}

body.collapsed-sidebar .sidebar-container .footer{
    opacity:0;
}

body.collapsed-sidebar .sidebar-container li{
    text-align:center;
}

body.collapsed-sidebar .sidebar-container li span{
    display:none;
}

.single-card{
    padding: 0 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius:10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}

.single-card-task{
    padding: 0 0 0 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius:10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}
.single-card-task.active{
    background-color:#f5f7fd;
}

::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dfe4f8;
  }
 ::-webkit-scrollbar-thumb:window-inactive {
    background: #dfe4f8;
  }

.mt15{
    margin-top: 15px;
}

.nofixed-height{
    height:auto !important;
}

.cards-container{
    border-top: 6px solid #7f9aff;
    background-color: #fff;
    padding: 25px;
    border-radius:0 0 10px 10px;
    box-shadow: 1px 1px 10px #d2d2d2;
    min-height: 200px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.widget-title {
    margin-top: 0;
    margin-bottom:0;
    color: #4b4b4b;
    font-weight:600;
    font-size:1.6em;
  }

.loading-spinner{
    width: 55px;
    position: absolute;
    top: 0;bottom: 0;right: 0;left:0;
    margin: auto;
}

.see-all{
    margin-top: 9px;
    margin-bottom: -13px;
    font-weight: 500;
    color: #7f9aff;
    cursor: pointer;
    font-size: 1.3em;
}
.arrow{
        position: relative;
        top: 5px;
        padding:0 6px;
    }

.arrow, .arrow-hours svg{
    font-size: 1.4em;
}

.empty-placeholder {
    font-size: 1.2em;
    margin-top: 20px;
    color: #797979
}

.no-content{
    font-size: 15em;
    text-align: center;
    color: #f7f7f7;
    margin: 20px 0;
}

.nodisplay{
    display: none;
}

body .complete-todo{
    display:none;
    opacity: 0;
}
body.todo-open .complete-todo{
    display:block;
    animation: opacityAnimation .4s ease, slideFromTopAnimation .4s ease;
    animation-fill-mode: forwards;
}
body.todo-open #overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,.4);
    z-index: 11;
    opacity:0;
    animation: opacityAnimation .6s ease;
    animation-fill-mode: forwards;
}
@keyframes opacityAnimation{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slideFromTopAnimation{
    0%{transform: translateY(-200%);}
    100%{transform: translateY(-50%);}
}

.slidebottomanimation{
    animation: slideFromTopWithOpacity .4s ease;
    animation-fill-mode: forwards;
}

@keyframes slideFromTopWithOpacity{
    0%{transform: translateY(-20px); opacity:0;}
    100%{transform: translateY(0); opacity:1;}
}