body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size:62.5%;
}

a{
    color: inherit;
    text-decoration: none;
}

.app-container{
    /*display:grid;
    transition: grid-template-columns .2s ease;
    grid-template-columns: 5% 95%;*/
    display:flex;
    width:100%;
    height:100%;
}

body.collapsed-sidebar .sidebar-container{
    width:5%;
}

body.collapsed-sidebar .dashboard-container{
    width:95%;
}

body.collapsed-sidebar .sidebar-container .footer{
    opacity:0;
}

body.collapsed-sidebar .sidebar-container li{
    text-align:center;
}

body.collapsed-sidebar .sidebar-container li span{
    display:none;
}

.single-card{
    padding: 0 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius:10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}

.single-card-task{
    padding: 0 0 0 20px;
    background-color: #fff;
    margin-top: 15px;
    border-radius:10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}

.cards-container{
    border-top: 6px solid #7f9aff;
    background-color: #fff;
    margin-top: 15px;
    padding: 25px;
    border-radius:0 0 10px 10px;
    box-shadow: 1px 1px 10px #d2d2d2;
}

.see-all{
    margin-top: 15px;
    margin-bottom: -15px;
    font-weight: 500;
    color: #7f9aff;
    
}
.arrow{
        position: relative;
        top: 6px;
        padding: 5px;
    }

.arrow svg{
    font-size: 2em;
}