@media only screen and (max-width: 1550px){
    .dashboard-cards-container .task-state, .single-card-task .task-state{
        font-size: 1.1em !important;
    }
}




/* MEDIA QUERIE PARA IPAD LANDSCAPE */

@media only screen and (max-width: 1113px){
    .hamburguer-icon{
        display:block;
    }

    body .sidebar-container {
    width: 0;
    }
    
    body .dashboard-container {
    width: 100%;
    }

    body.mobile-sidebar .sidebar-container {
    width: 20%;
    position: absolute;
    }

    body.mobile-sidebar .hamburguer-icon{
    transform: translateY(-50%) translateX(215px);
    }

    .sidebar-toggle{
        display:none;
    }

    .dashboard-container .widgets-grid{
        width:96%;
        margin: 22px auto 40px auto;
    }

    .sidebar-container .navigation{
        margin-top: 10px;
    }

    .task-details-grid .task-infos span {
        padding-right: 10px !important;
        font-size: 1.05em !important;
    }

    .widgets-grid .tasks-list {
        height: 77vh !important;
    }

    .client-project-container {
        height: 61vh;
    }

    .main-nav li svg {
        font-size: 2.2em !important;
        stroke-width: 1.3;
        color: #0036ff;
    }

    .main-nav .topbar-todo svg {
        font-size: 2em !important;
    }

    .main-nav .topbar-avatar img{
        width:25px;
        height:25px;
    }

    .topbar-nav{
        padding-top:0 !important;
        padding-bottom:0 !important;
    }

    .trips-container .trips-container-grid .trips-content {
        height: 74vh !important;
    }

    .project-details-grid .user-tasks-content {
        height: 67vh !important;
    }

    .member-history-tab {
        height: 66vh !important;
    }

    .insert-edit-form{
        width: 100% !important;
        margin-top: 40px !important;
    }
}


/* MEDIA QUERIE PARA IPAD LANDSCAPE */